body{
    text-align: center;
    overflow: hidden;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;;
    border: 10px solid black;
    margin: 2.5rem;
    overflow: hidden;
}


.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #f99b45;
}


.red{
    background-color: red;
}

.purple{
    background-color: purple;
}

.green{
    background-color:green;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}

.flash{
    background-color: white;
}