*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

p{
    margin-bottom: 10px;
}

.container{
    margin-top: 10px;
    line-height: 20px;
    margin-top: 50px;
    border: 1px solid black;
    width: 500px;
    height: 120vh;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, wheat,rgb(241, 238, 238));
    border: none;
    box-shadow: 1px 2px 10px  4px  wheat;
    
    
    
}

button{
    width: 100%;
    height: 5vh;
    margin-top: 5px;
    background:linear-gradient(90deg,rgb(63, 63, 126),rgb(65, 65, 245));
    border: none;
    border-radius: 5px;
}


#out{
    height: 50px;
    text-align: center;
}