:root{
    --border-color : #144fc6;
    --fill-color: #3aade2
   
}

*{
    color: black;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0 0 10px;

    background-color: #3494e4;
    font-family: 'Arial';
}

.cup{

    background-color: white;
    border-radius: 0 0 40px 40px;
    height: 330px;
    border: 4px solid var(--border-color);
    width: 150px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 30px 0 ;
}


.cup.cup-small{
    height: 100px;
    width: 50px;
    border-radius: 0 0 15px 15px;
    margin: 0 4px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 10px 5px;
    transition:  0.3s ease;

}

.cups{
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.cup.cup-small.full{
    background-color:var(--fill-color);
    color: #fff;
    transition: 0.5s ease;
}

.remained{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    font-weight: bold;
    color: #144fc6;
}

.percentage{
    background-color:var(--fill-color);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 0;
    transition: 0.5s ease;
    ;
    font-size: 20px;
}