body{
    display: flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-image: linear-gradient(
        to bottom,

        #4394a7 0%,
        #3cacc5d8 50%,
        #920de9 50%,
        #920de0 150%
        
    
    );
;
}

.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

input{
   height: 60px;
   width: 0px;
    border-radius: 50px;
   outline: none;
   
   padding: 0 20px;
   color: black;
   transition: all 0.5s;
   font-size: 20px;
   box-sizing: border-box;
   border: 1px solid #d50000;
}

button{

    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    background-color: #d50000;
    border: 0;
  
    height: 80px;
    cursor: pointer;

    width: 80px ;
    border-radius: 50%;
    
}

button img{
    transition: all 0.6s ease;

}

::placeholder{
   color: grey;
}

.container:hover input{
    width: 250px;
}

.container:hover img{
    transform: rotate(-350deg);
}