
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    margin: 0;
    background-color: steelblue;
    overflow: hidden    ;
}

#quiz{
    height: 100%;
   width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: absolute;
   background-color: steelblue;
}


.quiz-header{
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding: 50px 30px;
;
    border-radius: 8px;
    position: relative;
}

.quiz-header h2{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-40px);


}

ul{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 50px;
    line-height: 30px;
    font-family: sans-serif;
    font-weight: 600;
}

ul li{
    list-style: none;
}

button{
    width: 100%;
    padding: 13px;
    background-color: steelblue;
    border: 0;
    border-radius: 5px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bolder;
   font-size: 20px;
   
}