
*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: steelblue;
    color: white;
}



.container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px 40px;
    border-radius: 5px;
}

.container h1{
    text-align: center;
    margin-bottom:30px;
}

.container a{
    text-decoration: none;
    color: lightblue;
}

.form-control{
    position:relative;
    margin: 20px 0 40px;
    width: 250px;
}

.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: white;
}

.form-control input:focus

{

    outline: 0
 

}

.btn{
    cursor: pointer;
    /* display: inline-block; */
    width: 100%;
    background-color: lightblue;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
}

.btn:focus{
    outline: 0
}

.btn:active{
transform: scale(0.98);
}

.text{
    margin-top: 30px;
}

.form-control label{

    position: absolute;
    top: 15px;
    left: 0;

}

.form-control label span{
    display: inline-block;
    min-width: 5px;
    font-size: 18px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}


.form-control input:focus + label span,
.form-control input:focus  label span{

    color: rgb(254, 255, 255);

    transform: translateY(-30px);
}