*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:hsl(249, 31%, 13%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  
    

 
}

h1{
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   
   
}




.top{

    border: 1px solid aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex-wrap: wrap;
    border-radius: 7px;

    padding: 50px;

    color: aqua;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


input{
    padding: 8px;
    border-radius: 5px;
    border: 2px solid aqua;
    background-color: transparent;
    color: white;
 
}

button{
    padding: 6px;
    margin-top:30px;
    border-radius: 5px;
    background-color: aqua;
    border: 0;
    margin-left: 10px;
    height: 100%;
}


.lower{
    height: 100%;
   
    border:2px solid aqua;
    margin-top: 5px;
   

    
}

#head{
    font-size: 20px;
    color: aqua;
    margin: 0;
    padding: 0;
    display: none;
    /* background-color: red; */
;
    justify-content: center;;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: change 1s ease  alternate infinite;
}

@keyframes change {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0.3;
        transform: scale(1.05);
        
    }
    
}

#head.active{
    background-color: #1a172b;
}
.lower{
    height: 100%;
    width: 100%;
    border: 1px solid beige;;
    border-radius: 5px;
   
}


table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: 1px solid aqua;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


tr{
    padding: 5px;
}

#width{
    width: 100%;
   

}

table{
    color: aqua;
}


.same{
    background-color: aqua;
    color: rgb(0, 0, 0);
    border: 1px solid aqua;;
    font-weight: 700;
    margin-bottom: 15%;
   
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.lower{

     padding: 15px;
    height: 100%;
    width: 100%;;
    border: 2px solid rgb(0, 204, 204);
    

}
.btn{
   margin-bottom: 30px;
}

#edit{
    width: 50px;
}


#containe{
    color: aqua;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
 
}

#record{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


@media (max-width:678px) {
    h1{
        font-size: 25px;
    }
  
    input{
        margin: 5px;
      
       
    }
    .lower{
        /* background-color: red; */
        display: flex;
        
    }
    table{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}