body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    background-color: #eafbff;
    background-image: linear-gradient(
        to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5390f9 100%)
    
    
}

nav{
    background-color: #fff;
    width: 80px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: width 0.5s linear;

}


nav.active{
    width: 300px;
}


nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.5s linear;
}


nav.active ul{
    width: 100%;
}

nav ul li{
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear,opacity 0.5s linear;
}

nav.active ul li{
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul a{
    position: relative;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.icon{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;;
}

.icon:focus{
    outline: 0;
}

.icon .line{
    background-color: #5290f9;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    transition: transform 0.6s linear;
}

.icon .line2{
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1{
    transform: rotate(-765deg) translateY(5.5px);
}



nav.active .icon .line2{
    transform: rotate(765deg) translateY(-5.5px);
}
